.header-container-1 {
  background-color: #f1f1f1;
  padding: 100px 0px;
  text-align: center;
}

.header-container-1 h1 {
  width: 300px;
  text-align: center;
  border: 2px solid gold;
  border-radius: 5px;
  margin: 7px auto 25px auto;
}

.column-container {
  display: flex;
}

.column-container .column {
  text-align: center;
  padding: 120px 0px;
}

.column-container .column-1 {
  background-color: #aaaaaa;
  width: 20%;
}

.column-container .column-2 {
  background-color: #bbbbbb;
  width: 60%;
}

.column-container .column-3 {
  background-color: #cccccc;
  width: 20%;
}

.footer-container {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .column-container {
    flex-direction: column;
  }

  .column-container .column {
    width: 100%;
  }
}
